<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    id="WebApp_ID" version="2.5">
    
	<display-name>timeline web app</display-name>
	
	<welcome-file-list>
     	<welcome-file>pages/index.html</welcome-file>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
	
	<!-- DispatcherServlet是SpringMVC框架的核心，它的作用就是讲请求分发给不同的后端处理器 -->
	<servlet>
		<servlet-name>timeline</servlet-name>
		<servlet-class>
			org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<init-param>
			<!-- 定义了要装入的 Spring 配置文件 -->
			<param-name>contextConfigLocation</param-name>
			<param-value>
				classpath:spring*.xml
			</param-value>
		</init-param>
		<!-- 容器启动的时候立即生成Servlet实例 -->
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>timeline</servlet-name>  <!-- 需要和上面的servlet-name保持一致 -->
		<url-pattern>/</url-pattern> <!-- url的匹配规则，/ 就是匹配所有 -->
	</servlet-mapping>

</web-app>
